




   body { margin: 0;
    padding: 0;

   	background: aqua;
   }

 
   .cntct {

   	margin-left: 50%;
   	background-color: #e81046;  width: 450px;

   	padding: 0 60px;
   	letter-spacing: 1px;
   	font-family: Agency FB;
   	font-size: 20px;
   	border-radius: 15px;
   	text-align: center;
   	font-style: bold;
   	color: black;opacity: 1;opacity: 0.7;

   }


   .navbar {

background-color: red;
text-align: center;
width: 600px;
margin-right: 50%;
margin-left: 30%;
border-radius: 15px;


    



   }



   .navbar a {
    text-decoration: none;
    display: inline-block;
   padding: 10px 15px;


   }

   .navbar a:hover {

    background-color: yellow;
    color: gray;
  box-shadow: 3px 3px 4px 2px;

   }

.container {

    display: inline-block;
    position: relative;
}



.content {

    position: absolute;
 
   
    color: white;
    display: none;
    padding: 15px;



}


.content a:hover {
    background-color: gray;
    color: white;
    border-radius: 25px;
}


.container:hover .content {
    display: block;


}


   .head {

   	font-size: 40px;
   	font-family: arial;
   	font-style: bold;
   	text-transform: uppercase;
   	background-color: #a9aaaa;

   color: #e0c8b5;
   text-align: center;
   width: 400px;
   margin-left: 35%;
   margin-right: 50%;
   }


   .contnr { text-align: center;
   display: flex;
   flex-direction:row;
   box-shadow: 3px 4px 4px 3px;
   cursor: pointer;
   justify-content: space-between;



   }

 div .child1 {

background-color: darkred;
order: 3;
flex: 3;





 }

div .child1:hover{

    background-color: aqua;
     box-shadow: 3px 4px 2px 3px;   border-radius: 35px;

}


 div .child2 {background-color: yellow;flex: 3;


    
 }
 div .child2:hover{ 
     box-shadow: 3px 2px 3px 3px;   border-radius: 45px;
 }



 div .child3 {background-color: gray;flex: 3;
}

 div .child3:hover { box-shadow: 3px 3px 4px 4px;
    border-radius: 25px;


 }

.crt {

    width: 200px;
}
.crt:hover {

    width: 300px; border-radius: 40px;
}



.od {

    width: 200px;
}



.od:hover {

    width: 400px;

border-radius: 30px;}


.had {

    text-align: center;
    background-color: yellow;
    color: gray;
   border: 1px soli black;
    border-radius: 20px;
    width:300px;
    margin-left: 50%;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0;

}

.had:hover {
    box-shadow: 3px 4px 4px 3px;
}

.hed{
    position: absolute;
    display: none;
    background-color: gray;
    width: 200px;
    top: 15px;
left: 300px;
color: white;
}
.hed:hover{
    box-shadow:4px 3px 2px 3px ;
}

.had:hover .hed {
    display: inline;
}



 
.pt  {

    width: 300px;
}


.pt:hover  {

    width: 500px;border-radius: 20px;
}


.sidenav a {


  

    background-color: gray;
    color: darkred;text-decoration: none;
    padding: 15px 10px;
    display: block;
    width: 250px;
 height:40px



 
}

 .sidenav {
    width: 100px;
    height: 100%; 
 
  top: 0;
  left: 0;
  background-color: #111;
  box-sizing: border-box;
  border: 2px solid black;
  transition-duration: 4s;
  border-radius: 30px;
  cursor: pointer;
 
 }


 .sidenav a:hover{ box-shadow: 3px 4px 3px; color: white; border-radius:30%;transition-duration: 5s;}


.fahad { position: relative;
    color: salmon;


}
.fahad:hover { background-color: white; }


.mahi { 
position: absolute;
display: none;
 }

.fahad:hover .mahi  {
    display: block;
}